<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Семантический анализ</title>
</head>

<body>
    {% include 'navigation.html' %}
    <form action="" method="post" enctype="multipart/form-data">

        {{ form.csrf_token() }}

        {% for field in form if field.name != "csrf_token" %}
        <p>
            {% if field.name != "submit" %}
            {{ field.label() }}
            {% endif %}
        </p>
        <p>
            {{ field }}
            {% for error in field.errors %}
            {{ error }}
            {% endfor %}
        </p>
        {% endfor %}

    </form>

</body>

</html>